.address__form {
  padding: 20px;
  margin: auto;
}
.address__list {
  max-height: 20rem;
  overflow-y: scroll;
  display: grid;
}
.address__list button{
  width: 60%;
}
.address__list::-webkit-scrollbar {
  display: none;
}
.addresses {
  margin-bottom: 10px;
}
.address__form form {
  display: grid;
}
.address__form form label {
  font-weight: bold;
  font-size: 1.1rem;
}
.address__form form button {
  width: 60%;
  margin: auto;
  background-color: cadetblue;
  color: white;
}
