.cart__product {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart__product p {
  text-transform: capitalize;
}
.cart__product h4 {
  font-weight: bold;
}
.cart__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__btns button {
  color: white;
}
.cart__btns .add {
  background-color: rgb(26, 153, 26);
}
.cart__btns .remove {
  background-color: rgb(212, 37, 37);
}
.cart__total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart__total button {
  background-color: rgba(84, 84, 221, 0.986);
  color: white;
}
