header {
  height: 10vh;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(177, 245, 177);
}
.header__button {
  cursor: pointer;
  margin-right: 30px;
}
.header__button span {
  font-weight: bold;
}
.cart__count {
  position: absolute;
  font-size: small;
  border-radius: 10px;
  padding: 10px;
  top: 0;
  background-color: rgba(0, 255, 128, 0.644);
  color: black;
  font-weight: bold;
}
.header__img {
  padding-left: 30px;
}
.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header__buttons a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.header__buttons button {
  background-color: rgb(26, 23, 23);
  color: white;
}
