.product {
  gap: 5px;
  margin: auto;
  padding: 2px;
  max-width: 280px;
  padding: 20px;
}

.product:hover .product__btns {
  display: inline;
}
.product__btns {
  position: absolute;
  transform: translate(0%, 30%);
  display: none;
}
.product__btns span {
  background-color: grey;
  padding: 0.3rem;
}
.description {
  animation: 1s fadeIn;
}

.product img {
  max-width: 250px;
  max-height: 250px;
  object-fit: contain;
  margin: auto;
}
.product span {
  font-weight: bolder;
  font-size: large;
}
