.background-container {
  background: url(../assets/background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-container span {
  text-shadow: 5px 5px 1px #dededec0;
  font-size: 5rem;
  position: relative;
  font-weight: bold;
}

.landing__wrapper {
  display: flex;
}
.landing__bg {
  flex: 9;
}
